@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.restaurant-list {
    background: $mid-grey;
    border-radius: 10px;
    padding: 3rem 2rem;
    margin-bottom: 3rem;

    @include mobile {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 2rem 1rem;
    }

    input {
        margin-bottom: 2rem;
    }

    .item {
        display: block;
        background: white;
        border-radius: 10px;
        padding: 2rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transition: 0.2s ease all;

        @include mobile {
            flex-direction: column;
            padding: 1rem 1.5rem;
            align-items: flex-start;
        }

        &:hover {
            background: $orange-main;
            color: $white;

            .checked {
                color: $white;
            }
        }

        .right {
            text-align: right;

            @include mobile {
                text-align: left;
            }
        }
        
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}