@use '../../styles/partials/colors' as *;

.restaurant-list {
    background: $mid-grey;
    border-radius: 10px;
    padding: 3rem 2rem;
    margin-bottom: 3rem;

    .item {
        display: block;
        background: white;
        border-radius: 10px;
        padding: 2rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transition: 0.2s ease all;

        &:hover {
            background: $orange-main;
            color: $white;
        }

        .right {
            text-align: right;
        }
        
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}