@use '../../styles/partials/colors' as *;

.menu-item {
    display: flex;
}

.order-item {
    display: flex;
}

.order-id {
    margin-bottom: 1rem;
}

.order-summary {
    background: $mid-grey;
    border-radius: 10px;
    padding: 3rem 2rem;
    margin-bottom: 3rem;

    .restaurant {
        display: block;
        background: $white;
        border-radius: 10px;
        padding: 2rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .right {
            text-align: right;
        }
        
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    .menu {
        background: white;
        margin-top: 2rem;
        padding: 2rem 3rem;
        border-radius: 10px;

        .menu-item {
            display: flex;
            background: $mid-grey;
            border-radius: 10px;
            padding: 2rem 3rem;
            justify-content: space-between;

            &:not(:first-child) {
                margin-top: 1.5rem;
            }

            .right {
                display: flex;
                align-items: stretch;

                button {
                    margin-left: 1rem;
                }
            }
        }
    }

    .order {
        background: $white;
        margin-top: 2rem;
        padding: 2rem 3rem;
        border-radius: 10px;

        .order-item {
            display: flex;
            background: $mid-grey;
            border-radius: 10px;
            padding: 2rem 3rem;
            justify-content: space-between;
            
            &:not(:first-child) {
                margin-top: 1.5rem;
            }

            .left {
                div:first-child {
                    margin-bottom: 2rem;
                }
            }

            .right {
                text-align: right;

                div:first-child {
                    margin-bottom: 1rem;
                }

                button {
                    margin-left: 1rem;
                }
            }
        }
    }

    .totals {
        text-align: right;
        margin-top: 2rem;

        p:first-child {
            margin-bottom: 1rem;
        }
    }
}