@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.menu-item {
    display: flex;
}

.order-item {
    display: flex;
}

.order-id {
    margin-bottom: 1rem;
}

.order-summary {
    background: $mid-grey;
    border-radius: 10px;
    padding: 3rem 2rem;
    margin-bottom: 3rem;

    @include mobile {
        padding: 2rem 1rem;
        margin-bottom: 1.5rem;
    }

    .top-box {
        background: $white;
        border-radius: 10px;
        padding: 2rem 3rem;
        margin-bottom: 2rem;

        @include mobile {
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            flex-direction: column;

            input {
                margin-bottom: 1rem;
            }
        }

        display: flex;
        justify-content: space-between;

        input {
            margin-top: 1rem;
        }
    }

    .restaurant {
        display: block;
        background: $white;
        border-radius: 10px;
        padding: 2rem 3rem;

        @include mobile {
            padding: 1rem 1rem;
        }

        .inner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .right {
            text-align: right;

            @include mobile {
                text-align: left;
                margin-top: 1rem;
            }
        }
        
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    .menu {
        background: $white;
        margin-top: 2rem;
        padding: 2rem 3rem;
        border-radius: 10px;

        @include mobile {
            padding: 1rem 1rem;
            margin-top: 1rem;
        }

        .menu-item {
            display: flex;
            background: $mid-grey;
            border-radius: 10px;
            padding: 2rem 3rem;
            justify-content: space-between;

            @include mobile {
                padding: 1rem 1rem;
                flex-direction: column;
            }

            &:not(:first-child) {
                margin-top: 1.5rem;
            }

            .right {
                display: flex;
                align-items: stretch;

                @include mobile {
                    flex-direction: column;
                    align-items: flex-start;

                    input {
                        margin-top: 1rem;
                    }
                }

                button {
                    margin-left: 1rem;

                    @include mobile {
                        margin-left: 0;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .order {
        background: $white;
        margin-top: 2rem;
        padding: 2rem 3rem;
        border-radius: 10px;

        @include mobile {
            padding: 1rem 1rem;
        }

        .customer {
            margin-bottom: 2rem;

            .customer-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include mobile {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }

        .order-item {
            display: flex;
            background: $mid-grey;
            border-radius: 10px;
            padding: 2rem 3rem;
            justify-content: space-between;

            @include mobile {
                padding: 1rem 1rem;
                flex-direction: column;
                align-items: stretch;

                .left input {
                    margin: 0.5rem 0;
                }
            }
            
            &:not(:first-child) {
                margin-top: 1.5rem;
            }

            .left {
                p:last-child {
                    margin-top: 1rem;
                }
            }

            .right {
                text-align: right;

                @include mobile {
                    text-align: left;
                    display: flex;
                    justify-content: space-between;
                }

                div:first-child {
                    margin-bottom: 1rem;
                }

                button {
                    margin-left: 1rem;

                    @include mobile {
                        margin-left: 0;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .totals {
        text-align: right;
        margin-top: 2rem;

        p:first-child {
            margin-bottom: 1rem;
        }
    }
}