@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.submit-options {
    background: $mid-grey;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-bottom: 3rem;

    @include mobile {
        margin-bottom: 1.5rem;
        padding: 1rem 1rem;
    }

    &__packaging {
        margin: 2rem 0;

        @include mobile {
            margin: 1rem 0;
        }
    
        &-div {
            margin-bottom: 1rem;

            label {
                padding: 1rem;
            }
        }
    }

    &__img {
        display: flex;
        margin: 1rem;
        justify-content: space-between;

        img {
            min-width: 25rem;
            border-radius: 5px;
            width: 48%;
        }

        @include mobile {
            flex-direction: column;
            justify-content: stretch;
            margin: 0;

            img {
                min-width: 0;
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }

    &__checkout-div {
        display: flex;
        justify-content: flex-end;
    }
}