@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.submit-options {
    background: $mid-grey;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-bottom: 3rem;

    &__packaging {
        margin: 2rem 0;
    
        &-div {
            margin-bottom: 1rem;

            label {
                padding: 1rem;
            }
        }
    }

    &__img {
        display: flex;
        margin: 1rem;
        justify-content: center;

        img {
            min-width: 25rem;
            max-width: 25rem;
            border-radius: 5px;
        }

    }

    &__checkout-div {
        display: flex;
        justify-content: flex-end;
    }
}