@use '../../styles/partials/colors' as *;

.header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    align-items: center;

    .logo {
        max-width: 300px;

        img {
            max-width: 300px;
        }
    }

    .links {
        &:hover {
            color: $white;
        }
    }
}