@use "./partials/colors" as *;
@use "./partials/typography" as *;
@use "./partials/breakpoints" as *;

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'JustEatBasic';
}

.container {
    @include desktop {
        max-width: 1080px;
        margin: 0 auto;
    }

    &__content {
        @include desktop {
            display: flex;
        }
    }
}